# Lab-P8: Going to the Movies

#### Please make sure "small_movies.csv" and "small_mapping.csv" are in your "lab8" folder.

In [ ]:
# TODO: import csv and copy modules

## Segment 2: Loading data from csv file

### Task 2.1: Process the `small_movies`
[Chapter 14](https://automatetheboringstuff.com/chapter14/) of Automate the Boring Stuff introduces CSV files and provides a code snippet we can reuse. Run this cell to load the data.

In [ ]:
def process_csv(filename):
    example_file = open(filename, encoding="utf-8")
    example_reader = csv.reader(example_file)
    example_data = list(example_reader)
    example_file.close()
    return example_data

# TODO: Read data from small_movies.csv"

# TODO: extract the header into csv_header variable

# TODO: extract just the data rows into csv_data variable

In [ ]:
# Question: What are the names of the columns in the dataset?

# Expected: ['title', 'year', 'genres', 'duration', 'directors', 'actors', 'rating']

In [ ]:
# Question: How many rows of data (excluding header) are present in the dataset?

# Expected: 2

### Task 2.2: Convert your `small_mapping` to a dictionary

Expected output for the next cell:
```python
[['tt3104988', 'Crazy Rich Asians'],
 ['nm0160840', 'Jon M. Chu'],
 ['nm2090422', 'Constance Wu'],
 ['nm6525901', 'Henry Golding'],
 ['nm0000706', 'Michelle Yeoh'],
 ['nm2110418', 'Gemma Chan'],
 ['nm0523734', 'Lisa Lu'],
 ['tt4846340', 'Hidden Figures'],
 ['nm0577647', 'Theodore Melfi'],
 ['nm0378245', 'Taraji P. Henson'],
 ['nm0818055', 'Octavia Spencer'],
 ['nm1847117', 'Janelle Monáe']]
```

In [ ]:
# Use process_csv to read `small_mapping.csv` into a list of lists data structure
# Note: There is no header in `small_mapping.csv`

mapping_rows = ???
mapping_rows

Currently `mapping_rows` is a list of lists.  Lets convert it to a dictionary with the ID as the key and the name as the value, like this:

```python
{'tt3104988':'Crazy Rich Asians',
'nm0160840': 'Jon M. Chu',
'nm2090422': 'Constance Wu',
'nm6525901': 'Henry Golding',
'nm0000706': 'Michelle Yeoh',
'nm2110418': 'Gemma Chan',
'nm0523734': 'Lisa Lu',
'tt4846340': 'Hidden Figures',
'nm0577647': 'Theodore Melfi',
'nm0378245': 'Taraji P. Henson',
'nm0818055': 'Octavia Spencer',
'nm1847117': 'Janelle Monáe'}
```

In [ ]:
# TODO: initialize an empty dictionary into the variable mapping_dict #key: IDs, value: name

# TODO: iterate over the small_mapping dataset.

    # TODO: extract the column values and map the key to the corresponding value based on the above output
    # It is acceptable for you to hardcode column indices here. This is because this csv file does not 
    # have a header
    # For csv files which have headers, you should never hardcode column indices

    # TODO: insert the key-value pair into mapping_dict

# TODO: display mapping_dict

In [ ]:
# What is the value associated with the key "nm0160840"?
# Test your implementation here:

print("Expected: Jon M. Chu\t Actual:", ???)

In [ ]:
# What is the value associated with the key "tt4846340"?
# Test your implementation here:

print("Expected: Hidden Figures\t Actual:", ???)

### Task 2.3a: Convert a list of lists to a list of dictionaries

#### Now, let's go back to `small_movies`. Your `csv_data` looks like this (verify this by displaying appropriate variable's value):

```python
[['tt3104988',
  '2018',
  'Comedy, Drama, Romance',
  '120',
  'nm0160840',
  'nm2090422, nm6525901, nm0000706, nm2110418, nm0523734',
  '6.9'],
 ['tt4846340',
  '2016',
  'Biography, Drama, History',
  '127',
  'nm0577647',
  'nm0378245, nm0818055, nm1847117',
  '7.8']]
```

#### It's a list of lists without its header. For a better understanding, let's convert it to a list of dictionaries. The dictionary should look like:

```python
[{'title': 'tt3104988',
  'year': '2018',
  'genres': 'Comedy, Drama, Romance',
  'duration': '120',
  'directors': 'nm0160840',
  'actors': 'nm2090422, nm6525901, nm0000706, nm2110418, nm0523734',
  'rating': '6.9'},
 {'title': 'tt4846340',
  'year': '2016',
  'genres': 'Biography, Drama, History',
  'duration': '127',
  'directors': 'nm0577647',
  'actors': 'nm0378245, nm0818055, nm1847117',
  'rating': '7.8'}]
```

In [ ]:
# TODO: convert your list of lists data structure into a list of dictionaries data structure
# As you solve individual steps, keep using print function calls to verify your intermediate outputs

# Hint: If you don't know where to start, please review 
# "Nesting part 2: Tables" from Dictionaries 2 (Mar 09) lecture.

### Check: does your raw_movies_list look exactly like the list of dictionaries in the cell above?  If you are not sure, ask the TA to check.

In [ ]:
# What is the title ID of the fist movie in your list?
# Test your implementation here:

print("Expected: tt3104988\t Actual:", ???)

In [ ]:
# What is the duration of the second movie in your list?
# Test your implementation here:

print("Expected: 127\t Actual:", ???)

In [ ]:
# What is the genres of the second movie in your list?
# Test your implementation here:

print("Expected: Biography, Drama, History\t Actual:", ???)

### Task 2.3b: Convert the int and float values to the correct type

Did you notice that currently all the values in the dictionaries are strings? We should convert them into correct types. In particular, the year and duration should be an `int` and the rating should be a `float`. 

After converting the `int` and `float` values to the right types, the list of dictionaries should look like: 

```python
[{'title': 'tt3104988',
  'year': 2018,
  'genres': 'Comedy, Drama, Romance',
  'duration': 120,
  'directors': 'nm0160840',
  'actors': 'nm2090422, nm6525901, nm0000706, nm2110418, nm0523734',
  'rating': 6.9},
 {'title': 'tt4846340',
  'year': 2016,
  'genres': 'Biography, Drama, History',
  'duration': 127,
  'directors': 'nm0577647',
  'actors': 'nm0378245, nm0818055, nm1847117',
  'rating': 7.8}]
```

In [ ]:
# TODO: copy/paste the code in Task 2.3a and update it to handle type conversion
# Recall that you have been handling similar type conversions as part of cell function definition for p6 and p7
# Use similar conditional statements to handle these type conversions.

In [ ]:
# What is the type of duration's value for the second movie in your list?
print("Expected: <class 'int'>\t Actual:", ???)

In [ ]:
# What is the type of rating's value for the first movie in your list?
print("Expected: <class 'float'>\t Actual:", ???)

### Task 2.3c: Convert the genres, actors, and directors to list of strings

We are now going to convert the value corresponding to the keys `genres`, `actors`, and `directors` to a list of strings. That is below the final representation of this list of dictionaries data structure:

```python
   {
        'title': <title-id>,
        'year': <the year as an integer>,
        'genres': [<genre1>, <genre2>, ...],
        'duration': <the duration as an integer>,
        'directors': [<director-id1>, <director-id2>, ...],
        'actors': [<actor-id1>, <actor-id2>, ....],
        'rating': <the rating as a float>
    }
```

After converting the strings to list of strings, the list of dictionaries should look like: 

```python
[{'title': 'tt3104988',
  'year': 2018,
  'genres': ['Comedy', 'Drama', 'Romance'],
  'duration': 120,
  'directors': ['nm0160840'],
  'actors': ['nm2090422', 'nm6525901', 'nm0000706', 'nm2110418', 'nm0523734'],
  'rating': 6.9},
 {'title': 'tt4846340',
  'year': 2016,
  'genres': ['Biography', 'Drama', 'History'],
  'duration': 127,
  'directors': ['nm0577647'],
  'actors': ['nm0378245', 'nm0818055', 'nm1847117'],
  'rating': 7.8}]
```

In [ ]:
# TODO: copy/paste the code in Task 2.3b and update it to handle string to list of strings conversion

# Hint: Recall that there is a string method that enables you to perform this. 
# If you don't know where to start, please review Lists (Feb 28) lecture examples or the slide deck

# Notice that in the above output, first movie dict directors has a list, despite that movie having 
# a single director. Immaterial of whether there is one value or multiple values, you should still have the 
# type as a list.

In [ ]:
# What is the genres of the second movie in your list?
# Test your implementation here:

print("Expected: ['Biography', 'Drama', 'History']\t Actual:", ???)

In [ ]:
# How many actors do we have in the second movie?
# Test your implementation here:

print("Expected: 3\t Actual:", ???)

# Segment 3: Mapping IDs to Actual Names

You may have noticed that title, directors, and actors are represented by IDs rather than actual names. To make our data more intuitive, we next need to convert these IDs to actual names. The output of this list should be a list of dictionaries in the following format:

```python
{
    'title': "the movie name",
    'year': <the year as an integer>,
    'genres': ["genre1", "genre2", ...],
    'duration': <the duration as an integer>,
    'directors': ["director-name1", "director-name2", ...],
    'actors': ["actor-name1", "actor-name2", ....],
    'rating': <the rating as a float>
}
```

### Task 3.1: Find the Actual Names

In [ ]:
# Before convert your dictionary, let's use `mapping_dict` to find the actual title of the first movie.
# We do this for you:

# TODO: replace the ??? with the variable name from Task 2.3c (that is the variable storing the list of 
# dictionaries data structure)
print("Expected: Crazy Rich Asians\t Actual:", mapping_dict[???[0]["title"]])

In [ ]:
# Before convert your dictionary, let's use `mapping_dict` to find the actual names of directors in two movies.

# TODO: iterate over your list of dict data structure
    # TODO: for each movie dict, iterate over the directors
        # take each director ID and lookup the value from the mapping_dict dict
        # print each director name

In [ ]:
# Before convert your dictionary, let's use `mapping_dict` to list the actual names of actors in two movies.

# Similar TODOs like the previous cell.

### Task 3.2: Convert to Actual Names

Use your `mapping_dict` and `???` (list of dictionaries variable from task 2.3c) to finish this task
There are three columns (title, directors, and actors) which need to be converted.

It is easier to replace title ID with name.
It is slightly more complex for you to replace actors / directors ID list with their names. 
You will have to create a new list, by iterating over the ID list (see task 3.1 second and third cell).

In [ ]:
# Hint: there is a way for you to use the same code for converting actors and directors IDs to names. 
# This is very similar to type conversion handling in cell function definition. 

# It is very important that you incrementally test your implementation, rather than type the whole solution

Expected output:
```python
[{'title': 'Crazy Rich Asians',
  'year': 2018,
  'genres': ['Comedy', 'Drama', 'Romance'],
  'duration': 120,
  'directors': ['Jon M. Chu'],
  'actors': ['Constance Wu',
   'Henry Golding',
   'Michelle Yeoh',
   'Gemma Chan',
   'Lisa Lu'],
  'rating': 6.9},
 {'title': 'Hidden Figures',
  'year': 2016,
  'genres': ['Biography', 'Drama', 'History'],
  'duration': 127,
  'directors': ['Theodore Melfi'],
  'actors': ['Taraji P. Henson', 'Octavia Spencer', 'Janelle Monáe'],
  'rating': 7.8}]
```

In [ ]:
# What is the movie title of the first movie in your list?
# Test your implementation here:

print("Expected: Crazy Rich Asians\t Actual:", ???)

In [ ]:
# Who is the director of the second movie in your list?
# Test your implementation here:

print("Expected: ['Theodore Melfi']\t Actual:", ???)